.CardTop, .CardBottom {
  display: flex;
  flex-direction: row;
  width: calc(100% - 4px);
  justify-content: space-between;
  margin: 2px;
}

.CardBottom {
    transform: rotateZ(180deg);
}

.CardMiddle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  font-weight: bolder;
  font-size: 50px;
}

.CardBack {
  color: gainsboro;
  background-color:darkslategray;
}

.CardRemaining {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  font-weight: bolder;
}

.CardRemainingNumber {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  font-weight: bolder;
  font-size: 30px;
}

.StartOne {
    transform: rotateZ(45deg);
    color: cornflowerblue;
}

.Start100 {
    transform: rotateZ(45deg);
    color: lightsalmon;
}
