body {
  background-color: darkgreen;
}

.Board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.Form {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 0 4px 0;
}

.History {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 0 0 4px;
  overflow-y: scroll;
  width: 500px;
  height: 200px;
  max-height: 200px;
  white-space: pre-wrap;
  display:flex;
  flex-direction: column;
}

.PlayerHistory0 {
  color: blue;
}

.PlayerHistory1 {
  color: lime;
}

.PlayerHistory2 {
  color: red;
}

.PlayerHistory3 {
  color:yellow;
}

.PlayerHistory4 {
  color:purple;
}

.LeftHistory {
    color: cornflowerblue;
}

.RightHistory {
    color:lightsalmon;
}

.Player0 {
    position: absolute;
    top: 40%;
    left: 0;
}

.Player1 {
    position: absolute;
    top: 0;
    left: calc(50% - 260px);
}

.Player2 {
    position: absolute;
    top: 40%;
    right: 0;
}

.Player3For4 {
    position: absolute;
    bottom: 0;
    left: calc(50% - 260px);
}

.Player3For5 {
    position: absolute;
    bottom: 0;
    right: 10%
}

.Player4 {
    position: absolute;
    bottom: 0;
    left: 10%;
}


.Actions {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 30px);
}
