.Middle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 240px;
    margin: auto;
}

.MiddleBoard {
    display: flex;
    flex-direction: row;
}

.Pile {

    padding: 10px;
}

.RemainingCard {
    position: absolute;
    right: -130px;
    bottom: calc(50% - 80px);
}

.LeftHint {
    font-weight: bolder;
    position: absolute;
    transform: rotate(-90deg);
    left: -70px;
    color: cornflowerblue;
    top: 50%;
}

.RightHint {
    font-weight: bolder;
    position: absolute;
    transform: rotate(90deg);
    right: -82px;
    color:lightsalmon;
    top: 50%;
}

.Player2 {
    position: absolute;
    top: 40%;
    right: 0;
}

.Player3 {
    position: absolute;
    bottom: 0;
    left: calc(50% - 260px);
}

.Player4 {
    position: absolute;
    bottom: 0;
}

.Lost {
  margin: auto;
  font-weight: bolder;
  font-size: 50px;
  color: red;
}

.Won {
  margin: auto;
  font-weight: bolder;
  font-size: 50px;
  color:aqua;
}
