.Stat {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}
.Stat-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  width: 100%;
}

.Stat-zone-global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  margin: 10px;
  background-color: rgba(55, 125, 255, 0.7);
  border-radius: 4px;
  width: 100%;
}

.Stat-title {
    font-weight: bolder;
    width: 100%;
    text-align: middle;
}

.Stat-big-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  background-color: #282c34;
    color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  width: 100%;
    font-weight: bolder;
    text-align: middle;
}
