.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 0 4px 0;
  max-width: 30%;
}

.Form-criteria {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.Form-statistics, .Form-game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
}

.Actions {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 21px;
  width: calc(100% - 30px);
}

input[type="number"] {
  margin-left: 5px;
  width: 80px;
}

select {
  margin-left: 5px;
}
